:root {

    --color-white: #fff;
    --color-black: #000;


    --color-primary: #8dc6ff;
    --color-secondary: #22313f;


}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: url(./bg.jpg) center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links {
    padding: 20px;
    margin: 10px 0;
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 2.5em;
    border: 2px solid var(--color-secondary);
    border-radius: 25px;
    max-width: 250px;
}

.links:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}