.main {
    width: 90%;
    margin: 0 auto;
}

.main__sales {
    background: var(--color-primary);
    border-radius: 0 8px 8px 0;
    color: var(--color-white);
    display: block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding: 10px;
    width: 32px;
    word-break:break-all;
    position: fixed;
    top: 25vh;
    left: 0vw;
    z-index: 1;
}

.main__article-container {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-article {
    border: 2px solid var(--color-border);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product__sale {
    position: absolute;
    top: 25%;
    left: 55%;
    padding: 20px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border: 5px solid var(--color-border);
    border-radius: 50%;
}

.main-article__h6 {
    width: 90%;
    margin: 0 auto;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 0.7em;
    color: var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

.main-article__h2 {
    font-weight: 700;
    padding: 10px;
}

.main-article__paragraph {
    padding: 10px;
}

.main_article__btn-container {
    width: 97%;
    margin: 5px auto;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-article__btn {
    white-space: nowrap;
    color: var(--color-white);
    padding: 15px;
}

.main-article__price {
    white-space: nowrap;
    padding: 15px;
    font-weight: 700;
    color: var(--color-white);
}

.main-article__promo {
    color: var(--color-border);
    font-weight: 300;
    text-decoration: line-through;
}

@media screen and (max-width: 1130px) {
    .main {
        width: inherit;
    }
    .product__sale {
        display: none;
    }
}

@media screen and (max-width: 1037px) {
    .main__article-container {
        width: initial;
    }
}

@media screen and (max-width: 920px) {
    .main__article-container {
        width: 90%;
        flex-direction: column;
    }
}