

.main {
    width: 60%;
    margin: 0 auto;
}

/* Start table */
.cart__title {
    padding: 20px 0;
}

.main-table {
    width: 100%;
}

.main-table__head {
    box-shadow: 0px 2px 1px 1px var(--color-border);
}

.main-table__body {
    box-shadow: 0px 2px 3px 1px var(--color-border);
}

th, td {
    text-align: center;
    padding: 10px 20px;
}

th {
    font-size: 1.4em;
}

.main-table__input {
    width: 65px;
    margin-right: 5px;
}

.main-table__links {
    color: var(--color-primary);
    text-decoration: underline;
}

.main-table__total {
    font-weight: 700;
    font-size: 1.5em;
}

.main-table__price {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 2em;
}
/* End table */

/* Start form */
.form__title {
    margin: 20px 0;
    padding: 10px 0;
    border-top: 2px solid var(--color-border);
}

.main-form__form {
    padding-bottom: 50px;
    border-bottom: 2px solid var(--color-border);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
}

.main-form__title {
    padding: 25px 0;
    color: var(--color-secondary);
}

input[type=radio], input[type=checkbox] {
    margin: 3px;
}

.main-form__text {
    padding: 2px 50px;
    background-color: rgb(144 144 144 / 15%);
}

textarea {
    background-color: rgb(144 144 144 / 15%);
}
/* End form */

.final-price {
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0px 2px 1px 1px var(--color-border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.final-price__total {
    font-weight: 700;
    font-size: 1.2em;
}

.final-price__price {
    font-weight: 700;
    font-size: 1.8em;
    color: var(--color-primary);
}

.main-validation {
    padding: 20px;
    border-top: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-validation__links {
    padding: 15px 25px;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--color-black);
    background-color: var(--color-border);
    cursor: pointer;
    transition: 0.3s ease;
}

.main-validation__links--valide {
    padding: 15px 25px;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;
    transition: 0.3s ease;
}

.main-validation__links:hover {
    opacity: 0.5;
}

.main-validation__links--valide:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1433px) {
    .main-form__form {
        gap: 100px;
    }
}

@media screen and (max-width: 1095px) {
    .main-form__form {
        gap: 50px;
    }
}

@media screen and (max-width: 805px) {
    .main-form__form {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}