:root {

    --color-primary: #c80000;
    --color-secondary: #666;


    --color-white: #fff;
    --color-black: #000;

    --color-border: #ccc;





}

* {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

.red-container {
    background-color: var(--color-primary);
    padding: 20px;
}

.header__title {
    color: var(--color-white);
    font-size: 2em;
}

.header__title--active {
    font-size: 0.4em;
}

.header__subtitle {
    padding: 5px;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-secondary);
    font-weight: 300;
    font-size: 1.2em;
}

.header__subtitle--active {
    font-weight: 700;
    font-style: italic;
}

.footer__title {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-secondary);
}