@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {

    --color-primary: #FFF7DF;
    --color-secondary: #1E1E1E;
    
    
    --color-box: #FFE8A3;
    --color-btn: #FFCD29;



}

* {
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

