:root {

    --color-white: #fff;
    --color-black: #000;


    --color-work: #0766F0;
    --color-team: #DC5E53;
    --color-news: #98DC62;


}

* {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto';
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* HEADER */

.header {
    height: 100vh;
    width: 50%;
    position: sticky;
    background: url(../images/nicole.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__title {
    color: var(--color-white);
    padding-left: 20px;
    padding-top: 20px;
}

.header-intro {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(91, 91, 91, 0.395);
}

.header-intro__title {
    padding-top: 10px;
    text-align: right;
    color: var(--color-white);
}

.header-intro__title--active {
    font-weight: 300;
    font-size: 0.7em;
}

.header-intro__paragraph {
    padding: 20px 0;
    color: var(--color-white);
    text-align: right;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-navbar__links {
    padding: 10px 20px;
    color: var(--color-white);
}

/* MAIN */

.main {
    height: 100vh;
    width: 50%;
    overflow-y: scroll;
}

.main__title {
    background-color: #f2f2f2;
    padding: 20px;
}

.main-article {
    display: flex;
}

.main-article1 {
    width: 100%;
}

.main-article2 {
    width: 100%;
}

.main-article__article1 {
    border: 2px solid #eaeaea;
}

.main-article__article2 {
    border: 2px solid #eaeaea;
}

.main-article__btn {
    text-transform: uppercase;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-news);
    display: inline-block;
}

.main-article__btn--blue {
    background-color: var(--color-work);
}

.main-article__btn--red {
    background-color: var(--color-team);
}

.main-article__title {
    padding: 15px;
}

.main-article__info {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.main-article__img {
    width: 30px;
}

.main-article__name {
    font-weight: 700;
}

.main-article__name--active {
    font-weight: 500;
    color: #eaeaea;
}

.main-article__paragraph {
    padding: 15px;
}

.main-article__link {
    padding: 15px;
}

@media screen and (max-width: 900px) {
    body {
        width: 100%;
        flex-direction: column;
    }
    .header {
        width: 100%;
    }
    .main {
        width: 100%;
        overflow-y: inherit;
    }
    .main-article {
        flex-direction: column;
    }
}